.header{
    font-size: 48px;
    width:60%;
    font-weight: 700;
}

.content{
    width:35%;
    padding:30px 0px;
    font-weight: 400;
}

.sign_up_button{
    padding: 23px 48px;
    width:fit-content;
    border-radius: 10px;
    background: linear-gradient(90deg, #4776E6, #8E54E9);
    font-weight: 800;
    margin-top: 50px;
    font-size: 20px;
}