.container{
    width:200vh;
}

.header{
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.content{
    width:30%;
}

.single_card{
    border: 1px solid #7A3199;
    width:300px;
    border-radius: 10px;
}

.card_header{
    font-size: 16px;
    font-weight: 700;
}